# Archivos de configuración sensibles
# Excluir todos los archivos .env excepto los .example
.env
.env.*
!.env.*.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Archivos temporales
temp_uploads/
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Documentación
docs/
*.md
!README.md

#Base de Datos
migrations/

# Backups
backupsBBDD/

#scripts
tests/

